body {
    background-color: rgb(88, 88, 88);
    color:white;
}

.background {
    background-color: rgb(88, 88, 88); 
}
.title {
    font-size:20px;
    font-weight:bold;
}

.search {
    line-height: 25px;
    padding-left:20px;
    border-radius: 15px;
}

.info {
    border-radius: 7px;
    height:30px;
    width: 250px;
}

  

