body {
    background-color: rgb(88, 88, 88);
    color:white;
}

.background {
    background-color: rgb(88, 88, 88); 
}
.title {
    font-size:20px;
    font-weight:bold;
}

.search {
    line-height: 25px;
    padding-left:30px;
    border-radius: 15px;
}

.prueba {
    border-radius: 7px;
    height:30px;
    width: 250px;
}

.product-card {
    max-width: 120px;
    height: 80%;
    background-color: black;
    color: white;
  }

  mat-card-title {
      font-size: 17px;
  }

  .price {
    float: right;
  }

  

