<body>
    <img class="teamwork" src="../../../assets/images/ValveIndex.jpg" alt="teamwork-image">
    <br>
    <div class="separation background">
        <p class="title">Version 1.0</p>

        <p class="title">Requisitos de funcionamiento: </p>
        <p class="information">Movil Android 10.0 o iOs</p>
        <p class="information">Conexión a internet</p>
        <br>
        <p class="title">Sobre VirtualWorld </p>
        <p class="information">VirtualWorld es una aplicación </p>
        <p class="information">especializada en la venta de </p>
        <p class="information">dispositivos de Realidad Virtual </p>
        <p class="information">y accesorios derivados de estos.</p>
        <br>
        <p class="information">Llevamos en funcionamiento más de </p>
        <p class="information">5 años y somos pioneros en el sector</p>
        <p class="information">dentro de España.</p>
        <br><br><br><br><br>

        <img class="teamwork" src="../../../assets/images/teamwork.jpg" alt="teamwork-image">
        <p class="title-center">Nuestro equipo </p>

        <app-slideshow></app-slideshow>
        <br><br><br><br><br><br><br><br><br>
    </div>
</body>