body {
    background-color: rgb(88, 88, 88);
    height: 100%;
}

.background {
    background-color: rgb(88, 88, 88); 
}

.contact {
    line-height: 10px;
    width:300px; 
    margin:auto;
    background-color: white;
    border-radius: 5px;
}

.title {
    line-height: 30px;
    padding-left: 20px;
    font-size:25px;
    font-weight:bold;
    text-align: center;
    text-decoration: underline;
    padding-top:10px;
}

.information {
    padding-left: 20px;
}

form {
    text-align: center;
}