body {
    background-color: rgb(88, 88, 88);
    height: 100%;
}

.background {
    background-color: rgb(88, 88, 88); 
}

.contact {
    line-height: 10px;
    width:300px; 
    margin:auto;
    background-color: white;
    border-radius: 5px;
    
}

.title {
    line-height: 30px;
    padding-left: 20px;
    font-size:25px;
    font-weight:bold;
    text-align: center;
    text-decoration: underline;
    padding-top:10px;
}

.information {
    padding-left: 20px;
}

.alert {
    color: red;
    margin-top: -20px;
    margin-bottom: 30px;
    text-align:right;
    margin-right: 60px;
    font-size: 13px;
} 

.formulary {
    text-align: center;
}